@import url(http://fonts.googleapis.com/css?family=Lato:300);

* {	margin: 0;	padding: 0; font-family:  Lato, Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}



#left_side{
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 50px;
    height:100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

#author{
	margin-top:25px;
	display:block; 
}
 #position_side{
	margin-top:230px;
	display:block; 
}
#top_left {
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: 998;
    width: 300px;
    height:100%;
    color: white;
	/* background: rgb(0, 0, 0); Fallback */
    background: rgba(0, 0, 0, 0.7);
}
#top_left>a{
	color: white;
}
#firstname{ margin-top:50px; }
#lastname{ margin-top: -20px; }
#position{ margin-top: -10px; }

.logo{
    z-index: 999;
    width: 100px;
}

#logo_left{
    padding-top: 50px;
    margin:0px auto;
    display:block;
}
#logo_right{
	position: absolute;
	right: 15px;
    top: 15px;
    
    object-fit: cover; 
    overflow:hidden;
    
}
.nav-menu {float: left ;display: block; padding-top: 50px; padding-left: 50px; }

nav, subnav { font-size:30px;}
nav li.current-menu-item > a, nav li > a:hover, nav li > a:active, nav .active { color:#ffc800; }
nav li { display: block; list-style-type: none; }

a { color:#ffffff; text-decoration: none;  }
a:hover, a:active { color:#bdbdbd; }



#sec_aboutme {
	padding:50px;
	width: 500px;
	height: 70%;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    z-index: 997;
    display: none;
}


#aboutme::-webkit-scrollbar {
 display: none;
}
#aboutme { -ms-overflow-style: none; }
#aboutme{ overflow: -moz-scrollbars-none; }

.social-media{
	position:absolute;
	bottom: 5px;
	padding-left:70px;
}
a.social-icons {
	opacity: .7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	margin-right: 5px; /*Adjust This Value As Needed*/
	width:auto;
	height:2px;
}

a.social-icons:hover {
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.section-close{
	position:absolute;
	top: 5px;
	right:5px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}


